@media screen and (max-width: 450px) {
  #features {
    padding: 20px;
    width: 200%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 200%;
    display: hide;
  }

  #portfolio {
    width: 200%;
  }
  #about img  {
    width: 100%;
  }
  .intro {
      width: 200%;
  }
}
